.env
.dockerignore
.pnpm-store/
dist/
# ignore docker file since that should be included in
# https://github.com/ltfschoen/MUDTemplate instead
docker/
node_modules/
snippets/
# ignore models since too large for Github
projects/property-art/packages/client/public/*.glb
projects/property-art/packages/client/public/*.gitf

