@import url('https://rsms.me/inter/inter.css');

* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    padding: 2.5em;
}

body {
    background: #f0f0f0;
    font-family: inter;
    padding: 10px;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    top: 60px;
}

.panel {
    position: relative;
    padding: 20px;

    margin: 0.2em;
    width: 400px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
}

.canvas {
    z-index: -1;
    pointer-events: none;
    /* position: absolute !important; */
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100vw !important;
    height: 100vh !important;
}

.text {
    line-height: 1em;
    font-size: 1em !important;
    word-break: break-word;
    left: 250px;
}

.spacer {
    padding: 20px;
}

.buy-link {
    line-height: 1em;
    text-align: center;
    font-size: 2em;
    color: white;
    word-break: break-word;
    position: absolute;
    left: 280px;

    min-width: 90px;
    /* prevent wrapping */
    text-decoration: none;
    background-color: rgb(102, 201, 15);
    border-radius: 5px;
    margin-top: 140px;
    padding: 10px;
    z-index: 2;
}

.buy-address {
    position: absolute;
    left: 65px;
    background-color: rgb(218, 224, 226);
    opacity: 75%;
    padding: 5px;
    margin-top: 190px;
}

.details-address {
    position: absolute;
    display: block;
    color: rgb(168, 168, 168);
    border: rgb(155, 155, 155) 1px solid;
    padding: 5px;
    clear: both;
    width: 175px;
    left: 195px;
    opacity: 60%;
    margin-top: 10px;
}

.details-address-item {
    position: relative;
}

/* override bootstrap nav styles */
.bg-inverse {
    background-color: #6a7377 !important;
}

/* override camera view button */
.mantine-g7194 {
    background-color: rgb(168, 168, 168);
}

.mantine-g7194:hover {
    background-color: rgb(133, 131, 131);
}

@media only screen and (max-width: 800px) {
    .text {
        font-size: 3em;
    }
}

@media only screen and (max-width: 400px) {
    .text {
        font-size: 1.5em;
    }
}

@keyframes scaleAnim {
    0% {
        transform: scale(0.9, 1.0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9, 1.0);
    }
}

@keyframes translateXAnim {
    0% {
        transform: translate3d(-50px, 0, 0);
    }

    25% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(50px, 0, 0);
    }

    75% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50px, 0, 0);
    }
}

@keyframes translateYAnim {
    0% {
        transform: translate3d(0, -50px, 0);
    }

    25% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, 50px, 0);
    }

    75% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, -50px, 0);
    }
}

.scale {
    animation: scaleAnim 5s ease-in-out 0s infinite;
}

.translateX {
    animation: translateXAnim 5s ease-in-out 0s infinite;
}

.translateY {
    animation: translateYAnim 2.5s ease-in-out 0s infinite;
}